<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin portal</title>
</head>
<body>
    <h1>Welcome Admin</h1>
    <div class="button">
        <ul>
        <li><a class="btn1" href="/student register" type="hidden">Student register</a></li>
        <li><a class="btn2" href="/teacher register" type="hidden">Staff register</a></li>
    </ul>
    </div>
    <style>
        .button{
            font-size: 50px;
        }

        .btn1{
            text-decoration: none;
        }

        .btn2{
            text-decoration: none;
        }

        li{
            list-style: none;
        }
    </style>
</body>
</html>