<!DOCTYPE html>
<html>
  <head>
     <meta charset="UTF-8">
    <title>GENERAL DETAILS</title>
    <style>

      .button {
        background-color: orange;
        border: none;
        color: white;
        padding: 25px 565px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 15px;
      }
    </style>
  </head>
  <body>
   <fieldset>
  <legend> </legend>

  <h1 size="20" align="CENTER">Welcome to General Information</h1>
     <div class="GENERAL DETAILS">
         <form id="GENERAL DETAILS" method="post"
               action="..php">
               <a class="button" href="/fees details" type="hidden">Fees Details</a>
               <a class="button" href="/transport details" type="hidden">Transport Details</a>
               <a class="button" href="/feedback" type="hidden">Feedback Form</a>
               <a class="button" href="/contactus" type="hidden">Request / Contact us</a>

         </form>
     </div>
     <a  href="/studportal" type="hidden">Go to previous page</a>
        </fieldset>
  </body>
</html>