<!DOCTYPE html>
<html>
  <head>
     <meta charset="UTF-8">
    <title>Student portal</title>
    <style>
  .button {
        background-color: #1c87c9;
        border: none;
        color: white;
        padding: 15px 575px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 15px;
      }
    </style>
  </head>
  <body>
    <fieldset>
  <legend> </legend>
  <h1 size="20" align="CENTER" style="color:gold;" >Welcome to Student portal</h1>
     <div class="Student login">
         <form id="STUDENT PORTAL" method="post"
               action="..php">
               <a class="button" href="/bio page" type="hidden">Personal Details</a>
               <a class="button" href="/Time Table" type="hidden">Time Table</a>
               <a class="button" href="/student mark" type="hidden">Student Mark</a>
               <a class="button" href="/attendance" type="hidden">Attendance </a>
               <a class="button" href="/general details" type="hidden">General Details</a>
               <a class="button" href="/contact us" type="hidden">Contact Us</a>
         </form>
     </div>
        </fieldset>
        <a  href="/student page" type="hidden">LOG-OUT</a>
  </body>
</html>